
html {
    scroll-behavior: smooth;
}
:target {
scroll-margin-top: .8em;
}
.logo{
    text-align: center;
    margin-right: 0;
}
.logo img{
    padding-top: 50px;
    display: block;
    margin: auto;
    width: 80px;
}
@media (max-width: 450px){
    .jumb {
        text-align: center;
    }
    .botao2 {
        background-color: #daa520e6;
        color: white;
        margin: 20px 0 0 0 !important;
    }
    .topo-nav{
        background-image: url(/img/background3.png) !important;
        background-position: top center !important;
        
    }
}
.topo-nav{
    background-image: url(/img/background2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.navegacao{
    padding-top: 50px;
}
.navegacao li{
    padding: 0 20px;
}
.navegacao .show li{
    padding: 0;
}
.navegacao .show li a:hover{
    text-decoration: none;
    border-bottom: none;
}
.navegacao .show li a{
    text-decoration: none;
    padding-bottom: 5px;
}
.navegacao .show .botao-item{
    padding-top: 20px;
}
.navegacao .show .nav-link{
    padding: 10px 0px !important;
}
.navegacao .show li .botao{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #daa520e6 !important;
    fill: #daa520e6;
    border: solid 2px #daa520e6 !important;
    padding: 10px;
    line-height: 1;
    border-radius: 20px;
}
.navegacao li a{
    padding: 16px 20px;
}
.navegacao li a:hover{
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: solid 2px #daa520e6;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
}
.navbar-dark .navbar-toggler {
    border-color: rgb(218, 165, 32,.5);
}
.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(218, 165, 32, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.jumb{
    color: white;
}
.jumb-botao{
    padding-right:10px;
}
.info-informacao .row{
    margin: 0 auto;
}
.info-informacao .conteudo{
    box-shadow: -5px 0 10px 0 rgba(0,0,0,.22);
    background-color: white;
    text-align: center;
    padding: 30px;
}
.conteudo1{
    border-bottom: solid 3px rgba(209, 165, 4, 0.650);
}
.conteudo2{
    border-bottom: solid 3px rgba(1, 168, 84, 0.65);
}
.conteudo3{
    border-bottom: solid 3px rgba(5, 76, 152, 0.65);
}
.conteudo4{
    border-bottom: solid 3px rgba(209, 59, 4, 0.65);
}

.info-informacao .conteudo:first-child{
    box-shadow: none !important;
}

.botao2{
    background-color: #daa520e6;
    color: white;
    margin-left: 20px;
}
.botao2:hover{
    color: white;
    transition: 100ms linear !important;
    transform: translateY(-8px);
}
.botao{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #daa520e6 !important;
    fill: #daa520e6;
    border: solid 2px #daa520e6 !important;
    padding: 20px;
    line-height: 1;
    border-radius: 20px;
    background-color: none !important;
}
.botao a{
    color: #daa520e6 !important;
}
.botao a:hover{
    border-bottom: none !important;
}

.botao:active, .botao:hover,.botao:focus{
    background: none !important;
    box-shadow: none !important;
    color: #daa520e6 !important;
    border: solid 2px #daa520e6 !important;
    padding: 20px;
    line-height: 1;
    border-radius: 20px;
    transition: 100ms linear !important;
    transform: scale(1.11) !important;
}

#Procedimentos, #Quemsomos{
    text-align: center;
    margin-top: 60px;
}
#Procedimentos h1, #Quemsomos h1{
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding-bottom: 10px;
}
.servicos{
    margin-top: 20px;
}
.servicos h2{
    margin-top: 30px;
}
.carousel-item{
    height: 100%;
}
.col-4{
    max-width: none;
}
.card, .card-header{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background-color: transparent;
}
.card:last-child{
    border-bottom: none;
}
#heading7, #heading13, #heading22{
    border-bottom: none;
}

.btn-link, .btn-link:focus{
    color: black;
    text-decoration: none;
}
.btn-link:hover{
    text-decoration: none;
    color: rgba(39, 39, 39, 0.733);
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.quemsomos, .procedimentos, .procedimento-1, .procedimento-2, .procedimento-3,.conteudo1, .conteudo2, .conteudo3, .conteudo4,.depoimentos{
    visibility: hidden;
}
.carousel{
}
#Depoimentos{
    margin: 20px 0;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,.22);

}
#Depoimentos .row{
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;
    
}
.conteudo-esq{
    text-align: justify;
    padding: 0 20px;
}

.conteudo-dir{
    
}